.box {
  background-color: lightblue;
}

.box .title {
  font-size: 20px;
  color: lightcoral;
}

.list {
  font-size: 14px;
}

.list a {
  color: #000;
  text-decoration: none;
}

.list a:hover {
  color: red;
}